.puzzle-themes {
  h2 {
    @extend %box-padding-horiz, %roboto;

    &:not(:first-child) {
      margin-block: 1em 0.5em;
    }
  }

  &__list {
    display: grid;
    column-gap: 0.5em;
    margin-inline: calc(var(---box-padding) / 2);
    grid-template-columns: repeat(auto-fill, minmax(50ch, 1fr));

    @media (max-width: at-most($xx-small)) {
      grid-template-columns: repeat(auto-fill, minmax(40ch, 1fr));
    }

    &.puzzle-recommended {
      display: block;
    }
  }

  &__link {
    @include transition(background-color color);
    @extend %box-radius;

    color: $c-font;
    display: flex;
    align-items: center;
    padding: 1.5em 1em 1.5em 0;

    img {
      @include transition(opacity filter);

      flex: 0 0 7.5em;
      height: 4.5em;
      opacity: 0.8;
      align-self: flex-start;
    }

    &:hover {
      background: $m-primary_bg--mix-10;

      img {
        opacity: 1;
        filter: brightness(1.4);

        @include if-light {
          filter: brightness(0.8);
        }
      }
    }

    @media (max-width: at-most($xx-small)) {
      &::before {
        display: none;
      }

      padding-inline-start: 1em;
    }

    > span {
      flex: 1 1 100%;
      margin: 0;
    }

    h3 {
      font-weight: normal;
      font-size: 1.7em;
      display: block;
      line-height: 1em;
      margin-bottom: 0.2em;

      em {
        @extend %roboto;

        color: $c-font-dimmer;
        font-size: 0.8em;
        margin-inline-start: 0.7ch;
        letter-spacing: -1px;
      }
    }

    .puzzle-recommended & {
      @extend %box-neat;

      font-size: 1.2em;
      background: $m-secondary_bg--mix-20;
      color: $c-good;
      margin: 2em 0;

      &::before {
        color: $c-good;
      }

      > span {
        color: $c-font;
      }

      &:hover {
        background: $m-secondary_bg--mix-25;
      }

      @media (max-width: at-most($small)) {
        margin: 2em var(---box-padding) 2em 0;
      }
    }
  }

  &__count {
    unicode-bidi: plaintext;
  }

  &__db {
    @extend %box-padding;

    text-align: center;
  }
}
