.tutor {
  &-home {
    @extend %flex-column;
    gap: $block-gap;
    overflow: hidden;
  }
  &__beta {
    color: $c-brag;
    font-size: 0.75em;
  }
  &__first-report {
    text-align: center;
    margin: 5vh 0;
  }
  ol {
    margin-bottom: 1em;
    li {
      list-style: number;
      list-style-position: inside;
    }
  }
}
