.tutor {
  &__beta {
    color: $c-brag;
    font-size: 0.75em;
  }
  &__perfs {
    &__perf {
      .slist tr td {
        font-weight: bold;
      }
    }
  }
  &__empty {
    &__cta {
      text-align: center;
      margin: 5vh 0;
    }
    .spinner {
      margin: 10vh auto;
    }
    ol {
      margin-bottom: 1em;
      li {
        list-style: number;
        list-style-position: inside;
      }
    }
  }
  &__queued {
    overflow: hidden;
  }
}
