.tutor__opening {
  .mascot-says {
    &__content {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      gap: 2em;
      .lpv {
        max-width: 240px;
      }
      @media (max-width: at-most($xx-small)) {
        flex-direction: column;
      }
    }
    &__buttons {
      @extend %flex-column;
      align-items: flex-start;
      gap: 1em;
    }
  }
}
