.tutor-preview {
  @extend %box-neat, %flex-between-nowrap;
  background: $c-bg-box;
  padding: 1em 2em;
  color: $c-font;
  white-space: nowrap;
  gap: 2em;
  overflow: hidden;

  &:hover {
    background: $m-primary_bg--mix-10;
    color: $c-font-clearer;
  }

  &--empty {
    background: $m-bad_bg--mix-05;
    &:hover {
      background: $m-bad_bg--mix-10;
    }
  }

  &__badges {
    @extend %flex-center-nowrap;
    gap: 1em;
  }
  &__perfs {
    @extend %flex-center-nowrap;
    gap: 2em;
  }
  &__perf {
    @extend %flex-center-nowrap;
    gap: 1ch;
    &::before {
      font-size: 2.5em;
    }
    &__data {
      @extend %flex-column;
      @media (width < $xx-small) {
        display: none;
      }
    }
  }
}
