.tutor-preview {
  @extend %flex-between-nowrap;
  padding: 1em var(---box-padding);
  color: $c-font;
  white-space: nowrap;
  gap: 2em;
  overflow: hidden;

  &:hover {
    background: $m-primary_bg--mix-10;
  }

  &--empty {
    background: $m-bad_bg--mix-10;
    &:hover {
      background: $m-bad_bg--mix-15;
    }
  }

  &__dates {
    @extend %flex-column;
  }
  &__perfs {
    @extend %flex-center-nowrap;
    gap: 2em;
  }
  &__perf {
    @extend %flex-center-nowrap;
    gap: 1ch;
    &::before {
      font-size: 2.5em;
    }
    &__data {
      @extend %flex-column;
      @media (width < $xx-small) {
        display: none;
      }
    }
  }
}
