.tutor-preview {
  @extend %flex-between;
  padding: 1em var(---box-padding);
  color: $c-font;

  &:hover {
    background: $m-primary_bg--mix-10;
  }

  &--empty {
    background: $m-bad_bg--mix-10;
    &:hover {
      background: $m-bad_bg--mix-15;
    }
  }

  &__dates {
    @extend %flex-column;
  }
  &__perfs {
    @extend %flex-center;
    gap: 1em;
  }
  &__perf {
    @extend %flex-center;
    gap: 1ch;
    &::before {
      font-size: 2.5em;
    }
    &__data {
      @extend %flex-column;
    }
  }
}
