.activity {
  section {
    font-size: 1.2em;
    margin-inline-start: 2rem;
    padding-top: 1rem;

    @media (max-width: at-most($small)) {
      margin-inline-end: 2em;
    }
  }

  section h2 {
    @extend %base-font;

    color: $c-brag;
    font-size: 1.2em;
    margin-bottom: 10px;

    time {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .entries {
    display: flex;
    flex-direction: column;
  }

  .entry {
    display: flex;
    min-height: 64px;
    align-items: center;
    position: relative;
    padding: 6px 0;

    &:not(:first-child) {
      margin-top: -4px;
    }

    > div {
      max-width: 100%;
    }

    > i {
      position: absolute;
      top: 7px;
      font-size: 24px;
      float: inline-start;
      width: 50px;
      height: 50px;
      margin-inline-start: -72px;
      line-height: 39px;
      text-align: center;
      background-color: $c-contours;
      border: 3px solid $c-bg-box;
      border-radius: 50%;
      color: #fff;
    }
  }

  @media (min-width: at-least($xx-small)) {
    .entries {
      margin: 0 50px;
      border-inline-start: 3px solid $c-contours;
    }

    .entry {
      padding-inline-start: 45px;
    }
  }

  .sub {
    @extend %zalgoverflow;
    margin: 1px 0 3px;
    font-size: 1rem;
    direction: ltr;
  }

  .sub > div {
    overflow: hidden;
  }

  .line {
    @extend %nowrap-ellipsis;

    .more {
      flex: 0 1 auto;
    }

    a {
      color: $c-font;

      &:hover {
        color: $c-link;
      }
    }
  }

  rating {
    @extend %roboto;

    display: inline-block;
    direction: ltr;
    margin-inline-start: 0.7em;

    .rp {
      margin-left: 0.2em;
    }
  }

  score {
    margin-left: auto;
    font-size: 0.7em;
    display: flex;
    gap: 8px;

    > * {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    strong {
      @extend %box-radius;

      color: #fff;
      font-size: 1.2em;
      padding: 0 6px;
      display: inline-block;
      text-align: center;
      opacity: 0.7;
    }
  }

  .sub score strong {
    padding: 0 4px 1px;
    text-align: center;
  }

  win strong {
    background: $c-good;
  }

  draw strong {
    background: $c-brag;
  }

  loss strong {
    background: $c-bad;
  }
}
