.search {
  &__form {
    @extend %flex-wrap;

    align-items: flex-start;
    font-size: 0.9em;
    white-space: nowrap;
    margin: 1em 1em 1em 0;

    table {
      flex: 0 1 48%;
      margin-inline-start: 2%;

      .two-columns {
        @extend %flex-wrap;
        gap: 1em;

        > * {
          flex: 1 150px;
          @extend %flex-between-nowrap;
          gap: 2ch;
        }
      }
    }

    td {
      padding: 0.4em 0;
      text-align: right;
    }

    input[type='text'],
    input[type='date'],
    select {
      padding: 0.3em 1em;
      width: 100%;
    }

    input[type='date'] {
      padding-right: 0.3em;
    }

    label {
      margin-inline-end: 0.5em;
      white-space: normal;
    }

    .action {
      text-align: right;
    }

    span.help {
      color: $c-secondary;
      text-decoration: underline $c-secondary;
      cursor: help;
    }
  }

  &__status {
    text-align: right;
    padding: 1.5em;
    border-bottom: $border;
  }
}
